<mat-toolbar class="mat-elevation-z10 header" color="primary">
  <img src="assets/img/chef_hat.png" alt="Chef HAT" class="img-header">

  <mat-menu #menu="matMenu">
    <a href=""><button mat-menu-item class="none_outline">Recette</button></a>
    <a href=""><button mat-menu-item class="none_outline">TO</button></a>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="menu" class="button-header none_outline"><span class="text-button-header">Recette</span></button>
  <a href=""><button mat-button class="none_outline"><span class="text-button-header">Course</span></button></a>


  <span class="spacer-header"></span>
  <mat-icon class="icon-header white-icon">list</mat-icon>
  <mat-icon class="icon-header white-icon">account_circle</mat-icon>
</mat-toolbar>
